



.btn-group {
    text-align: center;
    margin-bottom: 40px;
}

.elecPads {
    background-color: #ffffff;
}



img,.elecPads {
    opacity: none;
    filter:grayscale(0%);
}

img:hover {
    opacity: 0.4;
    filter:grayscale(50%);
}
.elecPads:hover {
    opacity: 0.4;
    filter:grayscale(50%);
}

.click {
    opacity: 1.2;
    filter:grayscale(100%);
}